In [62]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\mieuser\anaconda3\lib\site-packages (0.24.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\mieuser\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\mieuser\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\mieuser\anaconda3\lib\site-packages (from scikit-learn) (1.19.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\mieuser\anaconda3\lib\site-packages (from scikit-learn) (0.17.0)
Note: you may need to restart the kernel to use updated packages.

# KNN (K Nearest Neighbors)

In [120]:
import numpy as np
import pandas as pd
from sklearn import neighbors, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [121]:
import os
print(os.getcwd())

C:\Users\MIEuser\Desktop\SciKitLearn

In [122]:
os.chdir(r'C:\Users\MIEuser\Desktop\SciKitLearn')
a=os.getcwd()
print(a)

C:\Users\MIEuser\Desktop\SciKitLearn

In [123]:
data = pd.read_csv('car.data', index_col = None)
print(data.head())

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [124]:
cars_cols= ['buying','maint','doors','persons','lug_boot','safety','classes']
data.columns = cars_cols
print(data.head())

  buying  maint doors persons lug_boot safety classes
0  vhigh  vhigh     2       2    small    med   unacc
1  vhigh  vhigh     2       2    small   high   unacc
2  vhigh  vhigh     2       2      med    low   unacc
3  vhigh  vhigh     2       2      med    med   unacc
4  vhigh  vhigh     2       2      med   high   unacc

In [163]:
X_orig = data[['buying','maint','safety']]
y_orig = data[['classes']]
print(X_orig.head())
print(y_orig.head())
print(X_orig.shape)
print(y_orig.shape)

  buying  maint safety
0  vhigh  vhigh    med
1  vhigh  vhigh   high
2  vhigh  vhigh    low
3  vhigh  vhigh    med
4  vhigh  vhigh   high
  classes
0   unacc
1   unacc
2   unacc
3   unacc
4   unacc
(1727, 3)
(1727, 1)

In [126]:
le = LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])
list(le.classes_)

['amsterdam', 'paris', 'tokyo']

In [127]:
le.transform(["tokyo", "tokyo", "paris"])

array([2, 2, 1])

In [87]:
le.transform(['tokyo','amsterdam', 'paris', 'tokyo', 'amsterdam'])

array([2, 0, 1, 2, 0])

In [164]:
import numpy as np 
print(np.unique(X_orig.iloc[:,0]))
print(np.unique(X_orig.iloc[:,1]))
print(np.unique(X_orig.iloc[:,2]))
print(np.unique(y_orig))

['high' 'low' 'med' 'vhigh']
['high' 'low' 'med' 'vhigh']
['high' 'low' 'med']
['acc' 'good' 'unacc' 'vgood']

In [165]:
X = X_orig.copy()
y = y_orig.copy()

In [166]:
label_maping_X0 = { 'low':0, 'med':1, 'high':2,'vhigh':3}
label_maping_X1 = {'low':0, 'med':1, 'high':2,'vhigh':3}
label_maping_X2 = {'low':0, 'med':1, 'high':2}

In [167]:
label_maping_y = {'unacc':0, 'acc':1,'good':2,'vgood':3}

In [168]:
X.columns

Index(['buying', 'maint', 'safety'], dtype='object')

In [169]:
X['buying'] = X['buying'].map(label_maping_X0)
X['maint'] = X['maint'].map(label_maping_X1)
X['safety'] = X['safety'].map(label_maping_X2)

In [170]:
y['classes'] = y['classes'].map(label_maping_y)

In [171]:
y.head()

   classes
0        0
1        0
2        0
3        0
4        0

In [172]:
X.head()

   buying  maint  safety
0       3      3       1
1       3      3       2
2       3      3       0
3       3      3       1
4       3      3       2

In [173]:
X_orig.head()

  buying  maint safety
0  vhigh  vhigh    med
1  vhigh  vhigh   high
2  vhigh  vhigh    low
3  vhigh  vhigh    med
4  vhigh  vhigh   high

In [220]:
knn1 = neighbors.KNeighborsClassifier(n_neighbors = 25, weights = 'uniform')

In [221]:
knn2 = neighbors.KNeighborsClassifier(n_neighbors = 25, weights = 'distance')

In [222]:
# split data to train and test
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [223]:
knn1.fit(x_train, y_train)

C:\Users\MIEuser\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=25)

In [224]:
knn2.fit(x_train, y_train)

C:\Users\MIEuser\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=25, weights='distance')

In [225]:
prediction1 = knn1.predict(x_test)

In [226]:
prediction2 = knn2.predict(x_test)

In [227]:
accuracy1 = metrics.accuracy_score(y_test, prediction1)

In [228]:
accuracy2 = metrics.accuracy_score(y_test, prediction2)

In [229]:
print(prediction1[1:15])

[1 3 1 1 1 3 0 0 1 0 0 0 0 1]

In [230]:
print(prediction2[1:15])

[1 3 1 1 1 3 0 0 1 0 0 0 0 1]

In [233]:
print(y_test[1:15])

      classes
934         1
1255        3
1095        1
1327        0
1170        1
1195        0
1262        0
1335        0
421         1
870         0
1547        0
1623        0
1271        0
1155        1

In [234]:
print(accuracy1)

0.7398843930635838

In [235]:
print(accuracy2)

0.7398843930635838